<?xml version="1.0"?>
<!-- -->
<launch>

  <arg name="drivers" default="true" />

  <include file="$(find jaco_kinect_calib)/launch/drivers.launch" if="$(arg drivers)"/>

  <!--Launch RVIZ-->
  <node pkg="rviz" type="rviz" name="rviz" args="--display-config $(find jaco_kinect_calib)/config/rviz.rviz" required="true"/>

</launch>
