<?xml version="1.0"?>
<!-- -->
<launch>

  <arg name="bag" default="$(find jaco_kinect_calib)/bags/test_with_colors_1.bag"/>
  <param name ="/use_sim_time" value="true"/>

  <!--Launch RVIZ-->
  <node pkg="rviz" type="rviz" name="rviz" args="--display-config $(find jaco_kinect_calib)/config/rviz.rviz" required="true"/>

  <!--Play rosbag-->
  <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="$(arg bag) --clock -l" required="true"/>

</launch>
